In [1]:
import pandas as pd

red_wine = pd.read_csv("winequality-red.csv", sep=";")
white_wine = pd.read_csv("winequality-white.csv", sep=";")

In [4]:
red_wine

     fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0     7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1     7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2     7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3     11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4     7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
...                                                 ...
1594  6.2,0.6,0.08,2.0,0.09,32.0,44.0,0.9949,3.45,0....
1595  5.9,0.55,0.1,2.2,0.062,39.0,51.0,0.99512000000...
1596  6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42...
1597  5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.995470000...
1598  6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39...

[1599 rows x 1 columns]

In [5]:
white_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [6]:
print(red_wine.info())
print(white_wine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 1 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  1599 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
None

In [7]:
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [8]:
red_wine.head()

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1  7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2  7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3  11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....

In [9]:
white_wine.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1910,6.6,0.250,0.36,8.1,0.045,54.0,180.0,0.99580,3.08,0.42,9.2,5
3920,7.4,0.250,0.37,2.6,0.050,24.0,132.0,0.99138,3.04,0.53,11.2,6
2241,7.1,0.280,0.19,7.8,0.040,48.0,184.0,0.99579,3.16,0.50,9.4,5
2120,6.8,0.250,0.27,10.7,0.076,47.0,154.0,0.99670,3.05,0.38,9.0,5
2417,7.3,0.815,0.09,11.4,0.044,45.0,204.0,0.99713,3.15,0.46,9.0,5

In [10]:
red_wine.describe()

       fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count                                                1599
unique                                               1359
top     6.7,0.46,0.24,1.7,0.077,18.0,34.0,0.9948,3.39,...
freq                                                    4

In [11]:
pd.isnull(white_wine)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,False,False,False,False,False,False,False,False,False,False,False,False
4894,False,False,False,False,False,False,False,False,False,False,False,False
4895,False,False,False,False,False,False,False,False,False,False,False,False
4896,False,False,False,False,False,False,False,False,False,False,False,False
4897,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
white_wine['type'] = 0
red_wine['type'] = 1

wines = red_wine.append(white_wine, ignore_index=True)

In [13]:
wines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  1599 non-null   object
 1   type                                                                                                                                               6497 non-null   int64
 2   fixed acidity                                                                                                                                      4898 non-null   float64
 3   volatile acidity                                                                                                                                   4898 non-null   float64
 4   citric acid                                                                                                                                        4898 non-null   float64
 5   residual sugar                                                                                                                                     4898 non-null   float64
 6   chlorides                                                                                                                                          4898 non-null   float64
 7   free sulfur dioxide                                                                                                                                4898 non-null   float64
 8   total sulfur dioxide                                                                                                                               4898 non-null   float64
 9   density                                                                                                                                            4898 non-null   float64
 10  pH                                                                                                                                                 4898 non-null   float64
 11  sulphates                                                                                                                                          4898 non-null   float64
 12  alcohol                                                                                                                                            4898 non-null   float64
 13  quality                                                                                                                                            4898 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 710.7+ KB

In [14]:
from sklearn.model_selection import train_test_split
import numpy as np

X = wines.iloc[:, 0:11]
y = np.ravel(wines.type)
X = X.drop("fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
for col in X.columns:
    print(col)

type
fixed acidity
volatile acidity
citric acid
residual sugar
chlorides
free sulfur dioxide
total sulfur dioxide
density
pH

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   int64
 1   fixed acidity         4898 non-null   float64
 2   volatile acidity      4898 non-null   float64
 3   citric acid           4898 non-null   float64
 4   residual sugar        4898 non-null   float64
 5   chlorides             4898 non-null   float64
 6   free sulfur dioxide   4898 non-null   float64
 7   total sulfur dioxide  4898 non-null   float64
 8   density               4898 non-null   float64
 9   pH                    4898 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 507.7 KB

In [15]:
X.describe()

              type  fixed acidity  ...      density           pH
count  6497.000000    4898.000000  ...  4898.000000  4898.000000
mean      0.246114       6.854788  ...     0.994027     3.188267
std       0.430779       0.843868  ...     0.002991     0.151001
min       0.000000       3.800000  ...     0.987110     2.720000
25%       0.000000       6.300000  ...     0.991723     3.090000
50%       0.000000       6.800000  ...     0.993740     3.180000
75%       0.000000       7.300000  ...     0.996100     3.280000
max       1.000000      14.200000  ...     1.038980     3.820000

[8 rows x 10 columns]

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(12, activation="relu", input_shape=(10,)))

model.add(Dense(10, activation="relu"))

model.add(Dense(8, activation="relu"))

model.add(Dense(1, activation="sigmoid"))

In [18]:

model.output_shape
model.summary()

model.get_config()
model.get_weights()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                132
_________________________________________________________________
dense_1 (Dense)              (None, 10)                130
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 359
Trainable params: 359
Non-trainable params: 0
_________________________________________________________________

[array([[-0.3452534 , -0.17645177, -0.31810772, -0.4055801 ,  0.14098257,
         -0.24162394, -0.338296  , -0.33160096,  0.10309827, -0.1818276 ,
         -0.34532762,  0.40097886],
        [ 0.4016791 ,  0.33245265, -0.0237326 ,  0.04975146, -0.11752489,
          0.05031312, -0.2272785 ,  0.28680587,  0.43691558,  0.27818727,
          0.33227807,  0.4480695 ],
        [ 0.08877605,  0.2182225 ,  0.13186795,  0.23224449,  0.15141618,
         -0.4188377 ,  0.16122752, -0.3151781 ,  0.44856662,  0.0851599 ,
         -0.10648373,  0.07555968],
        [ 0.35030162, -0.27618694, -0.08992338,  0.4776246 , -0.3999393 ,
         -0.37291813, -0.36503518, -0.03177395, -0.07969937,  0.21549314,
         -0.2786517 , -0.1446971 ],
        [-0.03698036, -0.33208257,  0.50413567,  0.335822  ,  0.28560925,
          0.48699492, -0.22012216, -0.49386597, -0.29056323,  0.26044053,
         -0.03278685,  0.49462622],
        [ 0.30527258, -0.18257493, -0.0334236 , -0.07203615, -0.31585866,
         -0.34089726, -0.39269695,  0.1812113 , -0.36171895, -0.07621571,
          0.34600592,  0.3692974 ],
        [ 0.29089767, -0.3809188 , -0.09359384, -0.354846  ,  0.06921512,
         -0.2893642 , -0.15047488,  0.34540355,  0.36443317,  0.20285302,
          0.24182886, -0.0734852 ],
        [ 0.46091163, -0.0755969 , -0.3867659 ,  0.12260032,  0.23970497,
          0.27263552,  0.2574678 ,  0.2922706 ,  0.24791569, -0.31487456,
          0.34213603, -0.15074381],
        [-0.3798464 , -0.40067095,  0.02390528,  0.22415096, -0.02434272,
         -0.36941916, -0.33241054,  0.35218513,  0.35559368, -0.35618   ,
          0.4005652 ,  0.02285093],
        [-0.20197457, -0.16381338,  0.3538847 ,  0.40650225, -0.47490594,
         -0.24060768,  0.17419189,  0.06771529,  0.1570555 , -0.22283897,
          0.44836128,  0.15287119]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.46915555, -0.3643597 ,  0.12210923,  0.12403625, -0.32590503,
          0.4126407 , -0.2365799 , -0.02427498, -0.06077796, -0.05703482],
        [ 0.47805732,  0.4511751 , -0.00313801, -0.1447027 ,  0.22976059,
          0.30503178,  0.40530795, -0.1405493 , -0.25502184,  0.2776878 ],
        [ 0.01051372,  0.15417618,  0.3635412 , -0.2281116 , -0.51181656,
         -0.2861197 ,  0.11651587,  0.0911355 , -0.32259467,  0.0544247 ],
        [-0.21654052,  0.16005343,  0.19550228, -0.36042094, -0.37683448,
          0.10106951, -0.0872052 ,  0.0444091 ,  0.0438481 ,  0.46974677],
        [ 0.27453977, -0.1534428 ,  0.49508363, -0.509763  , -0.357328  ,
         -0.04161435, -0.25582743,  0.38376683,  0.1653614 , -0.1275832 ],
        [-0.27646708, -0.45781595, -0.32147062,  0.21265006,  0.4579599 ,
          0.1325621 , -0.19177261,  0.27997476, -0.05199227,  0.2861746 ],
        [ 0.00594062,  0.26811695, -0.08440673,  0.28176546, -0.48516107,
          0.17926854,  0.10097426, -0.34415942,  0.16888976,  0.24204129],
        [ 0.48989302, -0.11693436, -0.10423544, -0.21265805,  0.32078218,
         -0.33040297, -0.23040795, -0.11717677, -0.17329282,  0.3882258 ],
        [ 0.0186007 ,  0.45555174,  0.36225647, -0.14886793, -0.23835966,
          0.27906126, -0.4102928 ,  0.50097364, -0.14216134,  0.03698182],
        [ 0.06810004,  0.2166856 ,  0.24914372, -0.20133448, -0.43008894,
         -0.2424021 ,  0.5050234 , -0.12632328, -0.1948942 , -0.15370229],
        [-0.0586451 , -0.03755471, -0.396046  , -0.45891774, -0.09707972,
         -0.5053127 ,  0.21428388,  0.39064538,  0.4206184 , -0.47448385],
        [ 0.14687914,  0.3178985 , -0.03290948,  0.5029605 , -0.06101602,
          0.4746948 , -0.43439847, -0.2550258 ,  0.17320788, -0.00849211]],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 7.27536678e-02, -5.25210500e-01, -5.12368083e-01,
         -3.77713442e-01,  3.40148509e-01,  3.12924862e-01,
         -3.66476476e-01,  2.28272498e-01],
        [-4.40513968e-01,  2.18426466e-01, -9.40232277e-02,
          5.15891194e-01,  1.11533284e-01,  3.35923731e-01,
          4.33763862e-01,  1.32517874e-01],
        [ 3.49328160e-01, -4.67794776e-01,  4.14271653e-01,
          4.66868043e-01, -4.37717050e-01, -5.53051949e-01,
          3.88026237e-05, -2.46869147e-01],
        [ 4.20207024e-01,  7.79184699e-02,  4.07896996e-01,
         -3.40800405e-01,  5.60121894e-01, -4.26402152e-01,
          1.42754912e-02,  2.92958617e-02],
        [ 4.60727811e-02,  5.33118725e-01, -2.77556241e-01,
          2.83200741e-02,  2.05707192e-01,  4.23940659e-01,
         -3.22611749e-01,  2.46171355e-01],
        [ 5.65817356e-01, -1.59774423e-02,  3.72754157e-01,
          6.69904947e-02,  2.19704092e-01,  2.81420350e-02,
         -4.45313454e-01,  3.52317095e-03],
        [ 5.28972149e-01,  4.73075390e-01, -4.10360694e-01,
          2.03698218e-01,  3.30788791e-01, -4.44151968e-01,
         -3.91033113e-01, -4.20730501e-01],
        [-4.82081980e-01, -4.71128255e-01, -7.47958422e-02,
         -1.79792643e-02, -1.89144492e-01,  1.56153500e-01,
          2.40023732e-02, -4.51749206e-01],
        [ 4.41068292e-01,  3.92804265e-01,  3.27510476e-01,
          1.05734587e-01,  2.95364976e-01, -2.91583151e-01,
         -1.39396042e-01, -3.87008905e-01],
        [ 2.02254117e-01,  1.74230158e-01, -3.10573757e-01,
         -4.70000893e-01,  1.52974069e-01,  2.17305660e-01,
          1.21960461e-01,  3.21067452e-01]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.61781555],
        [-0.11908638],
        [-0.8001723 ],
        [ 0.7535083 ],
        [-0.6229143 ],
        [-0.10343933],
        [ 0.57031596],
        [ 0.7521558 ]], dtype=float32),
 array([0.], dtype=float32)]

In [19]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=20, batch_size=1, verbose=1)

Epoch 1/20
4352/4352 [==============================] - 13s 2ms/step - loss: nan - accuracy: 0.7603
Epoch 2/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 3/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 4/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 5/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 6/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 7/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 8/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 9/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 10/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 11/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 12/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 13/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 14/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 15/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 16/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 17/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 18/20
4352/4352 [==============================] - 11s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 19/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 20/20
4352/4352 [==============================] - 10s 2ms/step - loss: nan - accuracy: 0.7606

In [20]:
y_pred = model.predict(X_test)

In [21]:
score = model.evaluate(X_test, y_test, verbose=1)
print(score)

68/68 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7403
[nan, 0.7403263449668884]